{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<div  style="background-color: lightblue; height:35em">
<div class="container my-3"  style="display: flex; justify-content:center ;flex-wrap: wrap; ">
    <h1 >About Us:</h1><br>
</div>

<div class="container my-3" style="display: flex; justify-content:center ;flex-wrap: wrap; ">
    <div class="cards" style="height:20em; border:1px solid black;width:30em;background-color:aquamarine">
        <p style="margin: 4px;font-size: 1 em;">
            Our website gives you the information about all great leaders. <br>
            We present all viewers with great content by which they can enhance their knowledge. <br>
            This is free website where any user register to our database can access this information.<br>
            We are thank ful to all the great leaders who have done a wonderfull job in their field. <br>
            The webdew family believes in action, progress, and growth. The young startup has achieved several milestones in its active years till now, but nothing keeps us from seeking more and more. Since more and more people seem to indulge in video, we aim to break our own record in hours of video produced.
        </p>
    </div>
</div>
   
</div>


{% endblock body %}
